html { 
  height: fit-content; 
}
  
  body {
    background-color: #dbdbdb;
    align-items: center;
    width: 100%;
    margin: 0%;
  }
  
  h1 {
    color: navy;
    margin-left: 20px;
  }

  #log-in {
    font-size: medium;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 88vh;
  }